<!DOCTYPE html>
<html lang="ko">
<head>
<%-include('../_templates/_head.ejs') %>
</head>
<body>
<div id="wrap">
    <%-include('../_templates/_header.ejs', { type: 'foundation' , }) %>
    <!-- page-body -->
    <div class="main foundation" id="main">
        <div class="main-inner">
            <div class="local">
                <div class="local-head">
                    <div class="local-subject">
                        <h2 class="local-name blind">Typography 디자인 가이드</h2>
                    </div>
                </div>
                <div class="local-body">
                    <%-include('../_templates/_lnb.ejs', { depth1: 'foundation', depth2: 'typography', depth3: null }) %>
                    <div class="content">
                        <div class="content-inner">
                            <div class="content-head">
                                <h3 class="content-name">Typography</h3>
                                <p class="content-summary">웹 인증 글꼴 패밀리, 글꼴 두께, 문자 간격을 사용하여 일관된 디자인을 만들 수 있도록 합니다.<br> 타이포그래피 시스템은 제목과 텍스트 유형을 제공하고 사용법을 지정합니다.</p>
                            </div>
                            <div class="content-body">
                                <div class="section">
                                    <div class="section-wrap">
                                        <div class="section-head">
                                            <h4 class="section-subject">Typeface</h4>
                                            <p class="section-summary">연합뉴스 웹/앱에서는 <span class="accent color-01">Pretendard</span>을 표준 폰트로 사용합니다.</p>
                                        </div>
                                        <div class="section-body">
                                            <img src="../assets/images/foundation/img-typography-01.jpg" alt="가나다 ABC abc 123 @#!?*">
                                            <p class="small design-01 style-01 gray-01">프리텐다드 서체 정보 : <a href="https://cactus.tistory.com/306" target="_blank" class="link">https://cactus.tistory.com/306</a></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="section">
                                    <div class="section-wrap">
                                        <div class="section-head">
                                            <h4 class="section-subject">Components</h4>
                                        </div>
                                        <div class="section-body">
                                            <div class="post-list design-01">
                                                <div class="post-item">
                                                    <div class="post-wrap">
                                                        <div class="post-figure">
                                                            <img src="../assets/images/foundation/img-typography-02-a.jpg" alt=" ">
                                                        </div>
                                                        <div class="post-info">
                                                            <div class="post-head">
                                                                <em class="subject">Heading</em>
                                                            </div>
                                                            <div class="post-body">
                                                                <p class="para">탑뉴스 타이틀에 주로 사용합니다.</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="post-item">
                                                    <div class="post-wrap">
                                                        <div class="post-figure">
                                                            <img src="../assets/images/foundation/img-typography-02-b.jpg" alt=" ">
                                                        </div>
                                                        <div class="post-info">
                                                            <div class="post-head">
                                                                <em class="subject">Title</em>
                                                            </div>
                                                            <div class="post-body">
                                                                <p class="para">뉴스 타이틀에 주로 사용합니다.</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="post-item">
                                                    <div class="post-wrap">
                                                        <div class="post-figure">
                                                            <img src="../assets/images/foundation/img-typography-02-c.jpg" alt=" ">
                                                        </div>
                                                        <div class="post-info">
                                                            <div class="post-head">
                                                                <em class="subject">Body</em>
                                                            </div>
                                                            <div class="post-body">
                                                                <p class="para">뉴스 본문에 주로 사용합니다.</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="post-item">
                                                    <div class="post-wrap">
                                                        <div class="post-figure">
                                                            <img src="../assets/images/foundation/img-typography-02-d.jpg" alt=" ">
                                                        </div>
                                                        <div class="post-info">
                                                            <div class="post-head">
                                                                <em class="subject">Detail</em>
                                                            </div>
                                                            <div class="post-body">
                                                                <p class="para">추가 정보 또는 작은 항목 텍스트에 사용합니다.</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="post-item">
                                                    <div class="post-wrap">
                                                        <div class="post-figure">
                                                            <img src="../assets/images/foundation/img-typography-02-e.jpg" alt=" ">
                                                        </div>
                                                        <div class="post-info">
                                                            <div class="post-head">
                                                                <em class="subject">Label</em>
                                                            </div>
                                                            <div class="post-body">
                                                                <p class="para">구성 요소 내부의 텍스트로 사용합니다.<br> (예: 버튼, 키워드 등)</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="post-item">
                                                    <div class="post-wrap">
                                                        <div class="post-figure">
                                                            <img src="../assets/images/foundation/img-typography-02-f.jpg" alt=" ">
                                                        </div>
                                                        <div class="post-info">
                                                            <div class="post-head">
                                                                <em class="subject">Link</em>
                                                            </div>
                                                            <div class="post-body">
                                                                <p class="para">문장 내의 몇 단어로 이루어진 텍스트 혹은 메뉴와 같이 독립적인 링크에 사용합니다.</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <%-include('../_templates/_aside.ejs', { name: 'typography', }) %>
                </div>
            </div>
        </div>
    </div>
    <!-- //page-body -->
    <%-include('../_templates/_footer.ejs') %>
</div>
</body>
</html>