<!DOCTYPE html>
<html lang="ko">
<head>
<%-include('../_templates/_head.ejs') %>
</head>
<body>
<div id="wrap">
    <%-include('../_templates/_header.ejs', { type: 'foundation' , }) %>
    <!-- page-body -->
    <div class="main foundation" id="main">
        <div class="main-inner">
            <div class="local"> 
                <div class="local-head">
                    <div class="local-subject">
                        <h2 class="local-name blind">Typography 디자인 가이드</h2>
                    </div>
                </div>
                <div class="local-body">
                    <%-include('../_templates/_lnb.ejs', { depth1: 'foundation', depth2: 'typography', depth3: null }) %>
                    <div class="content">
                        <div class="content-inner">
                            <div class="content-head">
                                <h3 class="content-name">Typography</h3>
                                <p class="content-summary">웹 인증 글꼴 패밀리, 글꼴 두께, 문자 간격을 사용하여 일관된 디자인을 만들 수 있도록 합니다.<br> 타이포그래피 시스템은 제목과 텍스트 유형을 제공하고 사용법을 지정합니다.</p>
                            </div>
                            <div class="content-body">
                                <div class="section">
                                    <div class="section-wrap">
                                        <div class="section-head"> 
                                            <h4 class="section-subject">Typeface</h4>
                                            <p class="section-summary">연합뉴스 웹/앱에서는 <span class="accent color-01">Pretendard</span>을 표준 폰트로 사용합니다.</p>
                                        </div>
                                        <div class="section-body">
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <%-include('../_templates/_aside.ejs', { name: 'typography', }) %>
                </div>
            </div>
        </div>
    </div>
    <!-- //page-body -->
    <%-include('../_templates/_footer.ejs') %>
</div>
</body>
</html>